.reviewsList {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
}

.reviewsItem {
  padding: 10px;
  border: 2px solid #ffc300;
  border-radius: 10px;
  overflow: hidden;
  background-color: #d5d8dc;
  box-shadow: 0px 0px 10px #ffc300;
}

.reviewAuthor {
  margin: 0 auto;
  padding: 5px 0;
  color: #ffc300;
  text-shadow: 1px 0px 3px black;
  font-weight: 700;
}
